<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>codeShow</title>
    <link rel="icon" sizes="any" mask href="assets/images/ico.svg" />
    <link rel="stylesheet" href="assets/codemirror5/theme/blackboard.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
    <link rel="stylesheet" href="assets/lib/wenk.min.css" />
  </head>
  <body>
    <div class="code__wrapper">
      <div class="close__fs"></div>
      <div class="code__wrapper_header">
        <div class="code__wrapper_header_title"><%= title %></div>
        <div class="tools">
          <div class="home__icon" onclick="window.location.href = '/'"></div>
        </div>
      </div>
      <div class="code__wrapper_top">
        <div class="code__wrapper_top-html">
          <div class="title">HTML</div>
          <textarea id="htmlCode"><%= htmlContent %></textarea>
        </div>
        <div class="code__wrapper_top-css">
          <div class="title">CSS</div>
          <textarea id="cssCode"><%= cssContent %></textarea>
        </div>
        <div class="code__wrapper_top-js">
          <div class="title">JAVASCRIPT</div>
          <textarea id="jsCode"><%= jsContent %></textarea>
        </div>
      </div>
      <div class="code__wrapper_bottom">
        <div class="code__wrapper_top-preview">
          <div class="fs__icon"></div>
          <% if (type.includes('mobile')) { %>
            <div class="mobile__icon" data-wenk="请按 F12 查看" data-wenk-pos="right"></div>
          <% } %>
          <iframe
            id="live-preview"
            src="assets/templates/template-iframe.html"
            width="100%"
            height="100%"
            allow="accelerometer *; camera *; encrypted-media *; display-capture *; geolocation *; gyroscope *; microphone *; midi *; clipboard-read *; clipboard-write *; web-share *; serial *; xr-spatial-tracking *"
            allowfullscreen="true"
            allowpaymentrequest="true"
            allowtransparency="true"
            sandbox="allow-forms allow-modals allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation allow-downloads allow-presentation"
            class="result-iframe iframe-visual-update"
            name="codeShow"
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>
    <script src="assets/lib/jquery-3.7.1.min.js"></script>
    <script src="assets/lib/sass.sync.min.js"></script>
    <link rel="stylesheet" href="assets/codemirror5/lib/codemirror.css" />
    <link rel="stylesheet" href="assets/codemirror5/addon/hint/show-hint.css" />
    <script src="assets/codemirror5/lib/codemirror.js"></script>
    <script src="assets/codemirror5/addon/hint/show-hint.js"></script>
    <script src="assets/codemirror5/addon/hint/xml-hint.js"></script>
    <script src="assets/codemirror5/addon/hint/html-hint.js"></script>
    <script src="assets/codemirror5/mode/xml/xml.js"></script>
    <script src="assets/codemirror5/mode/javascript/javascript.js"></script>
    <script src="assets/codemirror5/mode/css/css.js"></script>
    <script src="assets/codemirror5/mode/htmlmixed/htmlmixed.js"></script>
    <script src="assets/codemirror5/addon/hint/css-hint.js"></script>
    <script src="assets/js/common.js"></script>
  </body>
</html>
