<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>灏天阁</title>
    <link rel="icon" sizes="any" mask href="assets/images/ico.svg" />
    <link rel="stylesheet" href="assets/css/common.css" />
  </head>
  <body>
    <div class="home__search" style="display: none">
      <input type="text" id="searchInput" placeholder="请输入搜索内容..." />
      <button type="button" id="searchButton">搜索</button>
      <div class="home__search_close"></div>
    </div>
    <div class="home__wrapper">
      <div class="home__banner">
        <div class="logo">灏天阁</div>
        <ul>
          <!-- <li>
            <a href="https://yinhao.vercel.app" target="_blank">技术集</a>
          </li> -->
          <li>
            <a href="/tools" target="_blank">工具集</a>
          </li>
          <li>
            <a href="/philosophy" target="_blank">杂集</a>
          </li>
        </ul>
      </div>
      <!-- <div class="article__list">
        <div class="search"></div>
        文章列表<b>(<%- len %>)</b>
        <span>查看所有文章</span>
        <i class="toBack">还原</i>
      </div> -->
      <%- content %>
      <div class="no-list">
        <img src="assets/images/no-result.svg" alt="" />
        暂无搜索结果...
      </div>
      <div class="home__pages">
        <button id="prev__page" style="display: none">上一页</button>
        <button id="next__page">下一页</button>
      </div>
      <!-- 导航 -->
      <div class="navbar">
        <div class="tags"><%- len %></div>
        <ul class="menu">
          <li title="工具箱">
            <a href="/tools" target="_blank">
              <img src="assets/images/ico3.svg" alt="" />
            </a>
          </li>
          <li title="哲学人生">
            <a href="/philosophy" target="_blank">
              <img src="assets/images/ico2.svg" alt="" />
            </a>
          </li>
          <li title="搜索" class="search">
            <a href="javascript:;">
              <img src="assets/images/search.svg" alt="" />
            </a>
          </li>
          <li title="切换" class="change">
            <a href="javascript:;">
              <img src="assets/images/change.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <script src="assets/js/home.js"></script>
  </body>
</html>
