<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>codeShow</title>
    <link rel="stylesheet" href="assets/codemirror5/theme/blackboard.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
  </head>
  <body>
    <div class="code__wrapper">
      <div class="close__fs"></div>
      <div class="code__wrapper_header">
        <div class="code__wrapper_header_title"><%= h2Content %></div>
        <div class="tools">
          <div class="home__icon" onclick="window.location.href = '/'"></div>
          <!-- <div class="fs__icon"></div> -->
        </div>
      </div>
      <div class="code__wrapper_top">
        <div class="code__wrapper_top-html">
          <div class="title">HTML</div>
          <textarea id="htmlCode"><%= htmlContent %></textarea>
        </div>
        <div class="code__wrapper_top-css">
          <div class="title">CSS</div>
          <textarea id="cssCode"><%= cssContent %></textarea>
        </div>
      </div>
      <div class="code__wrapper_bottom">
        <div class="code__wrapper_top-js">
          <div class="title">JAVASCRIPT</div>
          <textarea id="jsCode"><%= jsContent %></textarea>
        </div>
        <div class="code__wrapper_top-preview">
          <div class="fs__icon"></div>
          <iframe id="live-preview"></iframe>
        </div>
      </div>
    </div>
    <script src="assets/lib/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="assets/codemirror5/lib/codemirror.css" />
    <link rel="stylesheet" href="assets/codemirror5/addon/hint/show-hint.css" />
    <script src="assets/codemirror5/lib/codemirror.js"></script>
    <script src="assets/codemirror5/addon/hint/show-hint.js"></script>
    <script src="assets/codemirror5/addon/hint/xml-hint.js"></script>
    <script src="assets/codemirror5/addon/hint/html-hint.js"></script>
    <script src="assets/codemirror5/mode/xml/xml.js"></script>
    <script src="assets/codemirror5/mode/javascript/javascript.js"></script>
    <script src="assets/codemirror5/mode/css/css.js"></script>
    <script src="assets/codemirror5/mode/htmlmixed/htmlmixed.js"></script>
    <script src="assets/codemirror5/addon/hint/css-hint.js"></script>
    <script src="assets/js/common.js"></script>
  </body>
</html>
