<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>灏天阁</title>
    <link rel="icon" sizes="any" mask href="assets/images/ico.svg" />
    <link rel="stylesheet" href="assets/css/common.css" />
  </head>
  <body>
    <div class="home__search" style="display: none">
      <input type="text" id="searchInput" placeholder="请输入搜索内容..." />
      <button type="button" id="searchButton">搜索</button>
      <div class="home__search_close"></div>
    </div>
    <div class="home__wrapper">
      <div class="home__banner">
        <div class="logo">灏天阁</div>
        <ul>
          <!-- <li>
            <a href="https://yinhao.vercel.app" target="_blank">技术集</a>
          </li> -->
          <li>
            <a href="/tools" target="_blank">工具集</a>
          </li>
          <li>
            <a href="/philosophy" target="_blank">杂集</a>
          </li>
        </ul>
      </div>
      <!-- <div class="article__list">
        <div class="search"></div>
        文章列表<b>(<%- len %>)</b>
        <span>查看所有文章</span>
        <i class="toBack">还原</i>
      </div> -->
      <%- content %>
      <div class="no-list">
        <img src="assets/images/no-result.svg" alt="" />
        暂无搜索结果...
      </div>
      <div class="home__pages">
        <button id="prev__page" style="display: none"><svg t="1714052321860" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4133" width="48" height="48"><path d="M896 309.12v405.76c0 98.986667-107.562667 160.512-192.896 110.336l-344.874667-202.88c-84.138667-49.493333-84.138667-171.178667 0-220.672l344.874667-202.88c85.333333-50.176 192.896 11.349333 192.896 110.336z m-64 0a64 64 0 0 0-91.477333-57.813333l-4.992 2.645333-344.874667 202.88a64 64 0 0 0-5.248 106.922667l5.248 3.413333 344.874667 202.88a64 64 0 0 0 96.213333-49.536l0.256-5.632v-405.76zM138.666667 213.333333v597.333334a32 32 0 0 0 64 0V213.333333a32 32 0 1 0-64 0z" fill="#000000" p-id="4134"></path></svg></button>
        <button id="next__page"><svg t="1714052222446" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1474" width="48" height="48"><path d="M128 309.12c0-96.554667 102.4-157.482667 186.624-113.792l6.272 3.456 344.874667 202.88c81.664 48.042667 84.053333 164.096 7.210666 216.106667l-7.210666 4.565333-344.874667 202.88c-83.242667 48.938667-187.648-8.405333-192.725333-103.168L128 714.88v-405.76z m64 0v405.76a64 64 0 0 0 96.426667 55.168l344.917333-202.88a64 64 0 0 0 0-110.336L288.426667 253.952A64 64 0 0 0 192 309.12zM885.333333 213.333333v597.333334a32 32 0 0 1-64 0V213.333333a32 32 0 1 1 64 0z" fill="#000000" p-id="1475"></path></svg></button>
      </div>
      <!-- 导航 -->
      <div class="navbar">
        <div class="tags"><%- len %></div>
        <ul class="menu">
          <li title="工具">
            <a href="/tools" target="_blank">
              <img src="assets/images/ico5.svg" alt="" />
            </a>
          </li>
          <!-- <li title="重要网站收集">
            <a href="/websites" target="_blank">
              <img src="assets/images/ico3.svg" alt="" />
            </a>
          </li> -->
          <li title="文章">
            <a href="/articles/01.html" target="_blank">
              <img src="assets/images/ico4.svg" alt="" />
            </a>
          </li>
          <li title="人生">
            <a href="/philosophy" target="_blank">
              <img src="assets/images/ico2.svg" alt="" />
            </a>
          </li>
          <li title="搜索" class="search">
            <a href="javascript:;">
              <img src="assets/images/search.svg" alt="" />
            </a>
          </li>
          <li title="切换" class="change">
            <a href="javascript:;">
              <img src="assets/images/change.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <script src="assets/js/home.js"></script>
  </body>
</html>
