@import "https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css";
@import "https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: #fff; */
  font-family: "Fira Code";
  font-size: 16px;
}

html {
  --bg-color: #fff;
}

html,
body {
  /* min-height: 100%; */
  height: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--bg-color); */
  /* padding: 20px 0; */
  box-sizing: border-box;
  display: flex;
}

.article__wrapper_left {
  flex: 1;
  height: 100%;
  /* background-color: #aaa; */
  position: fixed;
  top: 0;
  left: 0;
  width: 22%;
  height: 100vh;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}

.article__wrapper_left ul {
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 0;
  background: transparent;
}

.article__wrapper_left ul li {
  list-style: none;
  padding: 0;
}

.article__wrapper_left ul li a {
  text-decoration: none;
  color: #333;
  transition: 0.5s;
  display: block;
  padding: 15px 0;
  line-height: 1.5;
  font-size: 14px;
}

.article__wrapper_left ul li a:hover {
  text-decoration: underline;
  transition: 0.5s;
}

.article__wrapper_left ul li::before {
  content: none;
}

.article__wrapper_left ul li + li {
  margin-top: 0;
}

.article__wrapper_left ul li.active {
  margin-left: -20px;
  margin-right: -40px;
}

.article__wrapper_left ul li.active a {
  background-color: #cccccc;
  color: #333;
  padding-left: 20px;
  padding-right: 30px;
}

.article__wrapper {
  width: 840px;
  margin-left: auto;
  margin-right: calc((78% - 840px) / 2);
  min-height: 100vh;
  height: fit-content;

  padding: 20px 0;
  /* border-radius: 10px; */
  /* border: 1px solid #ddd; */
  /* background-color: #fff; */
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.article__wrapper_footer {
  position: fixed;
  bottom: 30px;
  right: calc((100% - 975px) / 2 - 80px - 20px);
  width: 80px;
  height: auto;
}
.article__wrapper_index {
  position: fixed;
  bottom: 70px;
  left: calc((100% - 975px) / 2 - 60px - 20px);
  width: 60px;
  height: 50px;
  /* border: 1px solid #ddd; */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 5px; */
  transition: all 0.5s;
  display: none;
}
.article__wrapper_index svg {
  width: 25px;
}
.article__wrapper_footer-left,
.article__wrapper_footer-right {
  width: 100%;
  height: 50px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  /* border: 1px solid #ddd; */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.5s;
  display: none;
}

/* .article__wrapper_footer-left:hover,
.article__wrapper_footer-right:hover,
.article__wrapper_index:hover {
  transition: all 0.5s;
  border-radius: 50px;
} */

.article__wrapper_footer-left svg,
.article__wrapper_footer-right svg {
  width: 16px;
  height: 16px;
}

.article__wrapper_footer-left:active,
.article__wrapper_footer-right:active {
  background-color: #ddd;
}

.article__wrapper_footer-right {
  margin-top: 10px;
}

pre {
  line-height: 2;
  /* border-radius: 10px !important; */
  overflow: auto;
  font-style: italic;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  /* background-color: rgba(0, 0, 0, 0.1) !important; */
  /* border-radius: 10px !important; */
  margin: 20px 0;
  /* border: 1px solid #ddd; */
}

h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #333;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
  position: relative;
  color: #333;
}

h3 {
  font-size: 19px;
  margin-bottom: 20px;
  position: relative;
  color: #333;
}

ul,
ol {
  margin-bottom: 10px;
  margin-top: 10px;
}

ul > li {
  list-style: none;
  padding-left: 20px;
  position: relative;
  color: #333;
}

ol {
  list-style: decimal;
}

ol > li {
  /* margin-left: 22px; */
  margin-left: 33px;
  color: #333;
}

ol > li::marker {
  color: #aaa;
  float: left;
}

ul > li + li {
  margin-top: 10px;
}

ul > li::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #aaa;
  border-radius: 100%;
}

p {
  margin: 20px 0;
  letter-spacing: 0.5px;
  line-height: 2;
  text-align: justify;
  color: #333;
}

/* pre code {
  background-color: transparent !important;
  color: #fff !important;
} */

.article__wrapper_header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.article__wrapper img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.article__wrapper_header h1 {
  margin-bottom: 0;
}

.articles__home {
  max-width: 975px;
  margin: 0 auto;
  /* border-radius: 10px; */
  overflow: hidden;
  min-height: calc(100vh - 40px);
  height: fit-content;
  padding: 20px 35px;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  /* border: 1px solid #ddd; */
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* background-color: #fff; */
  position: relative;
  z-index: 2;
}

.articles__home_navs {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.articles__home_navs > div {
  width: 80px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #333;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  /* border-radius: 5px; */
  transition: all 0.5s;
}

.articles__home_navs > div:active {
  background-color: #f5f5f5;
}

/* .articles__home_navs > div:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px inset,
    rgba(0, 0, 0, 0.15) 0 -36px 30px inset,
    rgba(0, 0, 0, 0.1) 0 -79px 40px inset, rgba(0, 0, 0, 6%) 0 2px 1px,
    rgba(0, 0, 0, 9%) 0 4px 2px, rgba(0, 0, 0, 9%) 0 8px 4px,
    rgba(0, 0, 0, 9%) 0 16px 8px, rgba(0, 0, 0, 9%) 0 32px 16px;
  transition: all 0.5s;
  border-radius: 10px;
} */

.articles__home_navs > div.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.articles__home_navs > div > svg {
  width: 16px;
  height: 16px;
}

.articles__home_time {
  font-size: 14px;
  color: #d4d4d4;
  opacity: 0.9;
  display: block;
  margin-top: 5px;
}

.article__wrapper_header span {
  color: #aaa;
  opacity: 0.9;
  font-weight: 600;
}

.articles__home li::before {
  content: none;
}

.articles__home ul {
  width: 100%;
  height: 100%;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 420px); */
  grid-gap: 20px;
  place-content: center;
  margin: 0;
  padding: 0;
}

.articles__home li {
  margin: 0;
  padding: 0;
  /* height: 80px; */
  /* background-color: #ff0000; */
}

.articles__home li + li {
  margin-top: 25px;
}
.articles__home li a {
  /* color: #fff; */
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  /* display: flex;
  align-items: center; */
  /* justify-content: center; */
  /* background-color: #fff; */
  transition: 0.5s;
  /* border-radius: 5px; */
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  color: #333;
  /* padding: 20px; */
}
.articles__home li a:hover {
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.5);
}

p code {
  color: brown;
  font-style: italic;
}

table {
  border-spacing: 0;
  margin-bottom: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  /* border-radius: 10px; */
  overflow: hidden;
}

td,
tr,
th {
  font-size: var(--font-size) !important;
  font-family: var(--nor-ff);
  border: 1px solid #e5e5e5;
  padding: 8px 10px;
  border-right: 0;
  border-bottom: 0;
  text-align: left;
}

table thead tr th {
  border-top: 0;
}

table thead tr th:nth-child(1) {
  border-left: 0;
}

table tbody tr td:nth-child(1) {
  border-left: 0;
}

/* table thead tr th:last-child,
table tbody tr td:last-child {
  border-right: 1px solid #ff0000;
}

table tbody tr:last-child td {
  border-bottom: 1px solid #ff0000;
} */

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.hljs {
  background-color: rgba(0, 0, 0, 0.2);
}
