* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MyFont";
  src: url("../fonts/myfont.ttf") format("truetype");
}

html,
body {
  height: 100%;
}

.articles-home {
  height: auto;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  /* background-color: #212121; */
  background-color: #f2f2f2;
}

.articles-home-main {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 240px);
  grid-gap: 20px 30px;
  place-content: center;
  /* max-width: 957px;
  margin: 0 auto; */
}

.card {
  height: 128px;
  background-color: #fff;
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.card:hover {
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.card:hover .card__content {
  color: #ff0000;
  transition: 0.5s;
}

.card__content {
  font-size: 16px;
  text-align: center;
  transition: 0.5s;
}

.card__desc {
  font-size: 14px;
}
