@import "https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css";
@import url("https://fonts.googleapis.com/css2?&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  box-sizing: inherit;
  height: 100%;
  scroll-behavior: smooth;
}

:root {
  --f-f: "consolas";
}

@font-face {
  font-family: "MyFont";
  src: url("../fonts/myfont.ttf") format("truetype");
}

.code__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.code__wrapper.isM .code__wrapper_top,
.code__wrapper.isM .tools {
  display: none;
}
.code__wrapper.isM .code__wrapper_bottom {
  height: 100%;
}

.code__wrapper.isM .code__wrapper_header_title {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-wenk]::after {
  background-color: #fff !important;
  color: #0c1021 !important;
}

.code__wrapper.isM .fs__icon,
.code__wrapper.isM .mobile__icon {
  display: none !important;
}

.code__wrapper.loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
}

.code__wrapper.loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background: url("../images/loading.svg") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  margin-left: -40px;
  margin-top: -40px;
  animation: rotate360 2s linear infinite;
  z-index: 1001;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.code__wrapper_header {
  width: 100%;
  height: 50px;
  background-color: #000;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.code__wrapper_header_title {
  color: #fff;
  height: 100%;
  line-height: 50px;
  font-family: myfont;
  font-size: 16px;
}

.tools {
  height: 100%;
  display: flex;
  align-items: center;
}

.tools > div:hover {
  opacity: 0.8;
}

.tools > div:active {
  opacity: 0.7;
}

.fs__icon,
.mobile__icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url("../images/fullscreen.svg") no-repeat;
  background-size: 100% 100%;
  position: absolute !important;
  top: 10px;
  left: 10px;
  display: none;
}

.mobile__icon {
  left: 45px;
  background: url("../images/mobile.svg") no-repeat;
  background-size: 100% 100%;
}

.mobile__show #live-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px calc((100% - 375px) / 2);
  background-color: #0c1021;
}

.code__wrapper_top-preview:hover .fs__icon {
  display: block;
}

.code__wrapper_top-preview:hover .mobile__icon {
  display: block;
}

.home__icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url("../images/home.svg") no-repeat;
  background-size: 100% 100%;
  margin-right: 15px;
}
.close__fs {
  display: none;
  position: absolute;
  top: 20px;
  right: 40px;
  width: 40px;
  height: 40px;
  background: url("../images/round_close_fill.svg") no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  cursor: pointer;
}

.close__fs:hover {
  opacity: 0.8;
}

.code__wrapper.fs .close__fs,
.code__wrapper.mobile__show .close__fs {
  display: block;
}

.code__wrapper_top {
  width: 100%;
  height: calc((100% - 50px) * 0.4);
  display: flex;
}

.code__wrapper_bottom {
  width: 100%;
  height: calc((100% - 50px) * 0.6);
  display: flex;
}

.code__wrapper_top-html,
.code__wrapper_top-css,
.code__wrapper_top-js {
  width: 33.3333333333%;
  height: 100%;
  background-color: #0c1021;
  position: relative;
  padding: 10px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
}

.code__wrapper_top-html::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgb(45, 46, 48);
}

.code__wrapper_top-css::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgb(45, 46, 48);
}

.code__wrapper_top-css::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(45, 46, 48);
}

.code__wrapper_top-html::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(45, 46, 48);
}

.code__wrapper_top-js::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(45, 46, 48);
}

.code__wrapper_top-preview {
  width: 100%;
  height: 100%;
  background-color: #0c1021;
  position: relative;
  display: flex;
  flex-direction: column;
}

.code__wrapper_top-js {
  padding: 10px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 5px;
}

.title {
  color: #f3f3f3;
  font-family: "myfont", system-ui;
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 14px;
}

#htmlCode,
#cssCode,
#jsCode {
  background-color: #0c1021;
  border: 0;
  outline: none;
  display: none;
}

.CodeMirror {
  flex: 1;
  font-size: 1em;
  /* font-family: "hack", sans-serif !important; */
  font-family: "SF Mono", "Source Code Pro", sans-serif !important;
  line-height: 1.6 !important;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
}
::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border-radius: 6px;
  box-shadow: none;
}
.CodeMirror-scrollbar-filler {
  display: none !important;
}

#preview:hover {
  opacity: 0.9;
}

#preview:active {
  opacity: 0.8;
}

iframe {
  border: none;
  outline: none;
}

#live-preview {
  height: 100%;
  outline: none;
  border: 0;
}

.fs #live-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c1021;
}

/* home */
ul {
  list-style: none;
}

.home__wrapper {
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100%;
  height: fit-content;
  min-height: 100%;
  background: #f5f5f5;
  position: relative;
}

.home__list {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-gap: 20px;
  width: fit-content;
  margin: 0 auto;
  /* margin-bottom: 30px; */
  position: relative;
  z-index: 10;
}

.home__banner {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 3px solid #0c1021;
  display: none;
}

.home__banner .logo {
  color: #0c1021;
  font-family: myfont;
  font-size: 35px;
  margin-right: 30px;
  cursor: pointer;
  /* text-shadow: 2px 2px 5px #211951; */
}

.home__banner ul li a {
  color: #999;
  text-decoration: none;
  font-family: myfont;
  transition: all 0.5s;
}

.home__banner ul li a:hover {
  text-decoration: line-through;
  color: #0c1021;
  transition: all 0.5s;
}

.home__banner ul {
  display: flex;
}

.article__list {
  display: flex;
  align-items: center;
  display: none;
}

.article__list b {
  color: #ff0000;
  font-size: 12px;
  margin-left: 3px;
}

.article__list .search {
  width: 25px;
  height: 25px;
  background: url("../images/search.svg") no-repeat;
  background-size: 100% 100%;
  margin-right: 10px;
  cursor: pointer;
}

.article__list .search:hover {
  opacity: 0.8;
}

.article__list .search:active {
  opacity: 0.7;
}

.article__list span {
  color: #999;
  font-size: 14px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.5s;
}

.article__list i {
  color: #999;
  font-size: 14px;
  margin-left: auto;
  cursor: pointer;
  font-style: normal;
  transition: all 0.5s;
  display: none;
}

.article__list i:hover {
  text-decoration: line-through;
  color: #0c1021;
  transition: all 0.5s;
}

.article__list span:hover {
  text-decoration: line-through;
  color: #0c1021;
  transition: all 0.5s;
}

.home__banner ul li + li {
  margin-left: 20px;
}

.home__pages,
.article__list {
  width: 1140px;
  height: fit-content;
  margin: 0 auto;
  /* margin-top: 30px; */
  overflow: hidden;
}

.home__pages {
  padding: 40px;
  width: 1450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.article__list {
  font-family: myfont;
  font-size: 20px;
  margin-bottom: 15px;
}

#prev__page {
  float: left;
}

#next__page {
  float: right;
}

#prev__page,
#next__page {
  border: 0;
  outline: none;
  /* padding: 12px 30px; */
  width: 70px;
  height: 70px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 16px;
  font-family: myfont;
  transition: all 0.3s;
  background-color: #fff;
  /* border: 1px solid #ddd; */
  color: #0c1021;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.04);
}

#prev__page svg,
#next__page svg {
  width: 40px;
}

#prev__page:hover,
#next__page:hover {
  /* background-color: #0c1021;
  color: #fff;
  transition: all 0.5s; */
  /* box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px inset,
    rgba(0, 0, 0, 0.15) 0 -36px 30px inset,
    rgba(0, 0, 0, 0.1) 0 -79px 40px inset, rgba(0, 0, 0, 6%) 0 2px 1px,
    rgba(0, 0, 0, 9%) 0 4px 2px, rgba(0, 0, 0, 9%) 0 8px 4px,
    rgba(0, 0, 0, 9%) 0 16px 8px, rgba(0, 0, 0, 9%) 0 32px 16px; */
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* border-radius: 10px; */
}

#prev__page:active {
  opacity: 0.5;
}

#next__page:active {
  opacity: 0.5;
}

.home__banner:hover img {
  transform: scale(1.2);
  transition: all 0.5s;
}

.banner__name {
  font-size: 20px;
  font-family: MyFont;
  color: #0c1021;
  text-align: center;
  margin-bottom: 10px;
}

.home__list li {
  /* height: 428px; */
  /* height: calc((100vh - 100px) / 2); */
  height: 300px;
  background-color: #fff;
  transition: all 0.3s;
  /* border: 1px solid #ddd; */
  cursor: pointer;
  position: relative;
  /* border-radius: 5px; */
  /* border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px; */
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.home__list li span,
.creatorName {
  display: block;
  font-size: 10px;
  position: absolute;
  left: 0;
  top: 0;
  font-family: myfont;
  color: #fff;
  background-color: #ff0000;
  padding: 8px 10px;
  /* padding-right: 15px; */
  /* border-top-right-radius: 20px; */
  border-bottom-right-radius: 20px;
  transition: all 0.5s;
  font-style: normal;
}

.home__list li span {
  top: unset;
  left: 0;
  bottom: 0;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  display: none;
}

.creatorName {
  left: unset;
  top: unset;
  bottom: calc((100vh - 60px) / 2 - 340px);
  right: 10px;
  border-radius: 0;
  border-top-left-radius: 15px;
  font-size: 12px;
  display: none;
}

.home__list li:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-top: -5px;
  transition: all 0.3s;
}

/* .home__list li:hover .li__cover > img {
  transform: scale(1.2);
  transition: all 0.5s;
} */

.li__cover {
  /* width: 100%;
  height: 75%; */
  /* background-color: #fff; */
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  /* aspect-ratio: 1; */
  height: 222px;
}

.support-dev {
  position: absolute;
  left: 20px;
  bottom: 10px;
}

.support-dev img {
  max-width: 25px;
  max-height: 25px;
}

.li__cover > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  display: block;
  /* border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px; */
}

.li__cover + a {
  text-decoration: none;
  color: #0c1021;
  padding: 15px 15px 0 15px;
  display: block;
  font-family: MyFont;
  font-size: 16px;
  transition: all 0.5s;
}

.home__search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__search_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: url(../images/round_close_fill.svg) no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  cursor: pointer;
}

.home__search_close:hover {
  opacity: 0.8;
}

.home__search_close:active {
  opacity: 0.7;
}

.no-list {
  display: none;
  width: 1140px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 0 auto;
  font-family: myfont;
}

.no-list img {
  width: 150px;
  margin-bottom: 20px;
}

.home__search input {
  width: 300px;
  height: 50px;
  text-indent: 10px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
  border: 0;
  border-radius: 10px;
  font-family: myfont;
}

.home__search button {
  width: 100px;
  height: 50px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ff0000;
  color: #fff;
  font-family: myfont;
}

.home__search button:hover {
  opacity: 0.8;
}

.home__search button:active {
  opacity: 0.7;
}

.navbar {
  position: fixed;
  bottom: 50px;
  left: 50px;
  background-color: #fff;
  transition: all 0.5s;
  /* border-radius: 10px; */
}

.tags {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff0000;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  font-family: MyFont;
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .menu li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .menu li a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.navbar .menu li a img {
  width: 30px;
  transition: all 0.5s;
}

.navbar .menu li:hover img {
  transform: scale(1.2);
  transition: all 0.5s;
}
