@import url("https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: hack;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#box {
  width: 500px;
  height: auto;
  background-color: #fff;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 5px 10px 0px;
}

#box ul {
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  max-height: 60vh;
  overflow: auto;
  position: relative;
  z-index: 100;
}

#box ul::-webkit-scrollbar {
  display: none;
}

#box ul li {
  list-style: none;
  height: 36px;
  display: flex;
  justify-content: space-between;
}

#box ul li b {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  text-align: center;
  line-height: 28px;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  opacity: 0.2;
}

#box ul li + li {
  margin-top: 10px;
}

#box ul li span {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  text-align: center;
  line-height: 36px;
  color: #fff;
}

.tags {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: fit-content;
  background-color: #d21312;
  color: #fff;
  text-align: center;
  transform-origin: bottom left;
  transform: translateY(-100%) rotate(342deg);
  z-index: 100;
}

.isRed {
  background-color: #d21312;
  opacity: 0.2;
  color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.isRed:hover {
  transform: rotate(-10deg) scale(1.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.isRed.isActive {
  background-color: #d21312;
  opacity: 1;
}

.isBlue {
  background-color: #1d267d;
  opacity: 0.2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.isBlue:hover {
  transform: rotate(-10deg) scale(1.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.isBlue.isActive {
  background-color: #1d267d;
  opacity: 1;
}

@media (max-width: 768px) {
  #box {
    width: 90%;
  }
  #box ul {
    padding: 10px 20px !important;
    box-sizing: border-box;
  }
  #box ul li span {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}
