@import url("https://fonts.googleapis.com/css2?&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "hack";
}

body {
  height: 100vh;
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  height: 100%;
  box-shadow: 0 0.25rem 1.125rem rgba(76, 92, 70, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

textarea {
  width: 40%;
  height: 70%;
  padding: 15px;
  outline: none;
  border: 0;
  resize: none;
  overflow: auto;
  font-size: 16px;
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #333;
}

#jsonViewer {
  width: 40%;
  height: 70%;
  line-height: 1.5;
  background-color: aliceblue;
  padding: 15px;
  overflow: auto;
  font-size: 16px;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#jsonViewer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #f2f2f2;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  z-index: 100;
  top: calc(15% - 60px);
  left: 10%;
}

textarea::placeholder {
  font-style: italic;
}

input[type="file"]::file-selector-button {
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  border-radius: 30px;
  transition: all 0.5s;
}

input[type="file"] {
  display: none;
}

input[type="file"]::file-selector-button:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

button,
label {
  display: inline-block;
  position: relative;
  border: 0;
  background: #ff0000;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  transform-style: preserve-3d;
  transition: transform 0.3s cubic-bezier(0, 0, 0.58, 1),
    background 0.3s cubic-bezier(0, 0, 0.58, 1);
  cursor: pointer;
}
button:before,
label:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff0000;
  border-radius: inherit;
  transform: translate3d(0, 0.5em, -1em);
  transition: transform 0.3s cubic-bezier(0, 0, 0.58, 1);
}
button:after,
label:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  border-radius: inherit;
  top: 0;
  left: 0;
  transform: translate3d(0, 0.7em, -1em);
  transition: transform 0.3s cubic-bezier(0, 0, 0.58, 1);
}
button:hover,
label:hover {
  transform: translateY(-0.25em);
}
button:hover:before,
label:hover:before {
  transform: translate3d(0, 0.75em, -1em);
}
button:hover:after,
label:hover:after {
  transform: translate3d(0, 1.05em, -1em);
}
button:active,
label:active {
  transform: translate(0, 0.5em);
}
button:active:before,
button:active:after,
label:active:before,
label:active:after {
  transform: translate3d(0, 0, -1em);
}

.collapsible {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}

.collapsible::before {
  /* content: "▶"; */
  content: "";
  color: #555;
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 2px;
  font-size: 14px;
  line-height: 1;
  padding-right: 10px;
  background: url("./imgs/add.svg") no-repeat;
  background-size: 100% 100%;
}

.typeString {
  font-size: 12px;
  color: #ddd;
  font-style: normal;
  position: relative;
  top: -2px;
}

.collapsible.collapsed::before {
  /* content: "▼"; */
  background: url("./imgs/jian.svg") no-repeat;
  background-size: 100% 100%;
}

.hidden {
  display: none;
}

.key {
  color: #0366d6;
  font-weight: bold;
}

.string {
  color: #22863a;
}

.number {
  color: #032f62;
}

.object {
  margin-left: 20px;
}

.array {
  margin-left: 20px;
}

.unknown {
  color: #555;
}

@media screen and (max-width: 1350px) {
  body {
    flex-direction: column;
    padding: 30px;
  }
}
